
.leaflet-control-locate .glyphicon {
    margin-left: -9px;
}

.leaflet-container .leaflet-control-search {
    background-color: #fff;
}
.leaflet-control-search input.search-input {
    border: 0;
    outline:0;
    background: transparent;
    color: #000;
}
.leaflet-control-search .search-tooltip {
    background: #fff;
    max-height: 300px;
}
.leaflet-control-search li.search-tip {
    background: transparent;
}
.leaflet-control-search li.search-tip:hover {
    background: #ccc;
}

.leaflet-control-filelayer .glyphicon {
    font-size: 70%;
    margin-left: -3px;
}

.leaflet-popup-content {
    width:auto !important;
}

@media (max-width: 285px) {
    .leaflet-bottom .leaflet-control-scale {
        margin-bottom: 2em;
    }
}

@media (max-height: 650px) {
    .leaflet-top.leaflet-right {
        height: 50%;
    }
    .leaflet-control.leaflet-control-layers-expanded {
        height: 100%;
        overflow-y: auto;
        overflow-x: hidden;
    }
}

#map .leaflet-control-coordinates {
    background: rgba(255, 255, 255, 0.5);
    border: 0;
    box-shadow: none;
    border-radius: 0;
    display: inline-block;
    float: none;
    margin-bottom: 5px;
}
#map .leaflet-control-scale {
    display: inline-block;
    float: none;
    vertical-align: bottom;
}
