html {
    overflow-y: scroll;
}

body {
    padding: 0;
}
a.as-text {
    color: #333;
}
a:hover.as-text {
    color: #333;
    text-decoration: none;
}
.close {
  opacity: 0.6;
}



/* Logo místo textu. Při vhodném místě se zobrazí i span. */
.navbar .navbar-brand {
    line-height: 50px;
    padding: 0 20px 0 10px;
}

.navbar .navbar-brand img {
    float: left; /*kvuli spanu*/
    position: relative;
    top: 11px;
}
.navbar .navbar-brand:before {
    content: "beta";
    position: absolute;
    font-size: 9px;
    margin-top: 17px;
    margin-left: -16px;
}
.navbar .navbar-brand span {
    display: inline;
    padding-left: 10px;
}

@media (min-width: 768px) and (max-width: 991px) {
    .navbar .navbar-brand:before {
        margin-left: 21px;
    }

    .navbar .navbar-brand span {
        display: none;
    }

    .navbar .navbar-brand img {
        left: 9px;
    }
}
@media (max-width: 285px) { /* velikost navbaru se zobrazenym spanem */
    .navbar .navbar-brand span {
        display: none;
    }

    .navbar .navbar-brand:before {
        margin-left: 11px;
    }
}

.navbar {
    z-index: 1000;
}
.navbar .navbar-user .dropdown-toggle {
    padding: 0 5px 0 15px;
    line-height: 50px;
}
@media (min-width: 768px) {
    .navbar .navbar-user  {
        margin-left: 10px;
    }
}
.navbar .facebook-like {
    float: right;
    padding: 15px 0 5px 0;
    width: 78px; /*allow overflow*/
}




#map-container {
    position:fixed;
    top: 50px; bottom: 0;
    right: 0; left: 0;
    z-index: 1;
}
.sidebar-inner {padding: 15px;}
#map-container .close {font-size: 300%;}
#map {
    height: 100%;
}
#map-sidebar, #map-layers {
    z-index: 3000;
    max-width: 250px;
    display: block;
    background: rgba(255,255,255,0.8);
    font-size: 130%;

    position: absolute;
    height: 100%;
    overflow-y: scroll;
}

#map-sidebar {
    display: none;
}

#map-layers {
    right:0;
    width: 250px;
    text-align: left;
    font-size: 13px;
    display: none;
}
#map-layers h2 {
  margin: 10px 0;
}
#map-layers label {
  display: block;
}
#map-layers button.close {
  position: fixed;
  right: 20px;
}

@media screen and (min-width: 768px) {
    #map-sidebar, #map-layers {
        position: relative;
        float: left;
        height: 100%;
        overflow: auto;
    }
    #map-layers {
        float: right;
    }
}

#map-container a.leaflet-control-layers-toggle {
    width: 46px;
    height: 66px;
    background-position: center 5px;
    padding-top: 33px;
    font-size: 10px;
    color: #000 !important;
    text-align: center;
}
#map-container a.leaflet-control-layers-toggle:before { content: "Mapové vrstvy"; }
#map-container a.leaflet-control-layers-toggle:hover { text-decoration: none; }




/* temporary solution, may be implemented as L.control */
#map-searchbar {
    position: absolute;
    background: rgba(255,255,255,0.95);
    z-index: 1010;
    min-height: 40px;
    max-height: 100%;
    min-width: 250px;
    max-width: 350px;
    border-bottom-right-radius: 5px;
    overflow: hidden;
    overflow-y: auto;
    padding: 10px;

    display: none;
}
#map-container.searchbar-on .leaflet-top.leaflet-left {
    //margin-top: 40px; // when search-input will be displayed - move controls
}
#map-container.searchbar-on #map-searchbar {
    display: block;
}
#map-searchbar h4, h5 {
    border-bottom: 1px solid #aaa;
}

#map-searchbar .osmid {
    padding-top: 1em;
    font-size: 90%;
    white-space: nowrap;
}

/* Opening hours */
#map-searchbar .ohopen {
    padding-top: 1em;
    font-size: 90%;
    color: #00ff00;
}

#map-searchbar .ohclosed {
    padding-top: 1em;
    font-size: 90%;
    color: #ff0000;
}

#map-searchbar .ohlasthour {
    padding-top: 1em;
    font-size: 90%;
    color: #ffcc00;
}

#map-searchbar .oh-times {
    padding-left: 2em;
}

#map-searchbar .close {
    margin-top: -6px;
}
#map-searchbar #mapillary-photo {
    max-width: 250px;
    margin-top: 1em;
    font-size: 80%;
    position: relative;
}
#map-searchbar #mapillary-photo a:after {
    content: "Mapillary.com - otevřené street-view";
    color: #ccc;
    position: absolute;
    left: 4px;
    bottom: 0;
    text-shadow: 0 0 4px #000;
}

#map-searchbar #wikimedia-commons {
    max-width: 250px;
    margin-top: 1em;
    font-size: 80%;
    position: relative;
}
#map-searchbar #wikimedia-commons .commons_logo {
    margin-bottom: 5px;
    padding-right: 5px;
}

#map-searchbar #guidepost .guidepost_logo {
    margin-bottom: 5px;
    padding-right: 5px;
}

#main .container {
    position:relative;
    z-index: 5;
    padding: 1em;
    background: rgba(255,255,255,0.9);
    padding-top: 50px;
    margin-bottom: 260px;
}

#main .container.splash {
    background: transparent;
    padding: .5em;
    padding-top: 100px;
    display: none;
}
#main .container.splash:before {
    content: url(../img/info-layer-switch.mini.svg);
    position: fixed;
    right: 10px;
    top: 62px;
    z-index: 10;
}

.content-box-left, .content-box-right {
    padding:0;
}
.content-box-inner {
    background: rgba(255,255,255,0.9);
    padding: 15px;
    z-index: 15;
    position: relative; /*because of z-index*/
}
@media screen and (min-width: 992px) {
    .content-box-left {
        padding-right: 15px;
    }
    .content-box-right {
        padding-left: 15px;

    }

    #main .container.splash:before {
        content: url(../img/info-layer-switch.svg);
        right: 30px;
        top: 70px;
    }
}
@media screen and (max-width: 767px) {
    .row {margin: 0;}
}


/* Leaflet-Coordinates-Control plugin */
.leaflet-control-coordinates {
  background: white;
  border-radius: 4px;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.65);
  cursor: pointer;
  padding: 2px 5px;
}

.leaflet-control-coordinates.hidden {
  display: none;
}

.leaflet-control-coordinates-lng {
  padding-left: 5px;
}

.gpsCoor {
  padding-bottom: 10px;
}

.leaflet-control-coordinates-gps h4 {
  text-align: center;
  font-weight: bold;
  font-size: 120%;
  text-decoration: underline;
}

.leaflet-control-coordinates-icon {
  text-align: right;
  padding-left: 5px;
}

.leaflet-control-coordinates-gps {
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.65);
}

/* gp-check */
.gp-check-popup {
    min-width: 250px;
    max-width: 350px;
}

.gp-check-popup h6 {
  font-size: 1.2em;
  font-weight: bold;
  white-space: nowrap;
}

.no-foto {
  text-align: center;
  font-size: 2em;
}

.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}

.flex-v-center {
    display: flex;
    align-items: center;
}

/* gc-check - image upload form */
#gpc-img-upload-form {
    width:350px;
}

#gpc-img-upload-form input[type=file], input[type=text], select {
    background:#eee !important;
    color:#000 !important;
    padding:5px !important;
    border:2px solid #eee;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    margin: 2px;
}

#gpc-img-upload-form input[type=text]:focus, select:focus {
    border:2px solid #337ab7 !important;
}

#gpc-img-upload-form input[type=text].inputError {
    border:2px solid #d9534f;
}

#gpc-img-upload-form .legend {
    font-size: 1.2em;
    font-weight: bold;
}

#gpc-img-upload-form .gpc-upl-result {
  padding-top: 5px;
  margin-top: 5px;
  text-align: center;
}

.coors-block {
    background: #DDD;
    padding: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

/* Spin icon
 * From: http://bootsnipp.com/snippets/featured/glyphicon-animate-rotation-and-flip
 *
 * So much code just to make icon spin...
 */
.gly-spin {
  -webkit-animation: spin 2s infinite linear;
  -moz-animation: spin 2s infinite linear;
  -o-animation: spin 2s infinite linear;
  animation: spin 2s infinite linear;
}

@-moz-keyframes spin {
  0% {
    -moz-transform: rotate(0deg);
  }
  100% {
    -moz-transform: rotate(359deg);
  }
}
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
  }
}
@-o-keyframes spin {
  0% {
    -o-transform: rotate(0deg);
  }
  100% {
    -o-transform: rotate(359deg);
  }
}
@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
/* Spin icon END */

/* margins on top */
.margin-top-05 { margin-top: 0.5em; }
.margin-top-10 { margin-top: 1.0em; }
.margin-top-15 { margin-top: 1.5em; }
.margin-top-20 { margin-top: 2.0em; }
.margin-top-25 { margin-top: 2.5em; }
.margin-top-30 { margin-top: 3.0em; }

/* guidepost.js */
#hashtags {
  padding: 1em 0 1em 0;
  line-height: 2;
  text-align: center;
}

.buttons-bar {
  text-align: center;
}

.space-2em {
  margin-left: 2em;
}


/* Primárně pro účely splashe */
#main .jumbotron {
    border-radius: 0;
    text-align: center;
    margin-bottom: 0;
}
#main .jumbotron.transparent { /* jinde než splash */
    background: transparent;
}
#main .jumbotron .close-overlay {
    font-size: 60px;
}

#main .jumbotron h1 img.osmlogo {
    width: 50px;
    height: 50px;
}
@media screen and (min-width: 768px) {
    #main .jumbotron {
        margin-top: 30px;
    }
    #main .jumbotron .close-overlay {
        margin-right: -20px;
    }
    #main .bottom-spacer {
        margin-bottom: 30px;
    }
    #main .jumbotron h1 img.osmlogo {
        width: 110px;
        height: 110px;
    }
}


.twitter-follow, .weekly-follow {
    float: right;
    padding-right: 0;
    font-size: 10px;
}
.twitter-follow:before {
    content: "";
    background: url('../img/twitter.svg') no-repeat left top;
    background-size: 16px 16px;
    width: 16px;
    height: 16px;
    display: inline-block;
    vertical-align: bottom;
    margin-right: 1ex;
}

.tweets-sidebar {border-top: 1px #eee solid; margin-top: 1em;}
.tweets-sidebar.float {float:right; margin-left: 1em;}
@media (min-width: 992px) {
    .tweets-sidebar {border:0; border-left: 1px #eee solid;}
}


.tweets {
    list-style-type: none;
    margin:0;
    padding: 0;
}
.tweets li {
    padding: 8px 0 8px 60px;
}
.tweets.weeklys li {
    padding-left: 0;
}
.tweets .permalink {
    float: right;
    font-size: 80%;
    color: rgb(112, 112, 112);
    text-decoration: none;
    line-height: 20px;
}
.tweets .author img {
    position: absolute;
    margin-left: -60px;
}
.tweets .retweet {
    color: #707070;
    font-size: 80%;
    padding: 3px 0 0 3px;
}
.tweets .profile {
    color: rgb(41, 47, 51);
    font-weight: bold;
}
.tweets .profile .nickname {
    color: rgb(102, 117, 127);
    font-weight: normal;
    font-size: 80%;
}
.tweets .footer {
    text-align:right;
    visibility: hidden;
}
.tweets li:hover .footer {visibility: visible;}
.tweets .footer a {
    font-size: 80%;
    padding-left: 5px;
    color: rgb(153, 153, 153);
    text-decoration: none;
}

.konference {
    width: 100%;
    margin: 1.5em 0;
}
.konference .img {
    width: 32px;
}
.konference .subject {
    padding: 0.8em 0.6em;
}
.konference .date {
    width: 80px;
    text-align: right;
    font-size: 80%;
}

.load-more {
    font-size: 80%;
}

/*3 úroveň menu*/
#main .nav.nav-tabs {
    padding-top: 1em;
}
#main .nav.nav-tabs a {
    color: #444;
}


/* Page /komunita */
.komunita {
    margin-top: 2em;
}
.komunita h3 {
    margin-top: 10px;
}
.komunita a img {
    margin: 0;
    display: inline;
}
.komunita table {
    width: 100%;
}
.komunita table th {
    line-height: 2;
}
.komunita .caption div {
	margin: 0 0 4px;
}
.komunita .caption .glyphicon {
  font-size: 14px;
  color: black;
}
.komunita .stat {
    color: #aaa;
    font-size: 80%;
    padding-left: .4em;
}
.komunita .stat .glyphicon {
    color: #eee;
}
@media (min-width: 768px) {
    .komunita .thumbnail .caption {
        padding-bottom: 0;
    }
    .komunita .thumbnail {
        height: 162px;
        overflow-y : auto;
    }
}
