html {
    overflow-y: scroll;
}

body {
    padding: 0;
}


/* Logo místo textu. Při collapsu se zobrazí i span. */
.navbar .navbar-brand {
    line-height: 50px;
    padding: 0 20px 0 10px;
}

.navbar .navbar-brand img {
    float: left; /*kvuli spanu*/
    position: relative;
    top: 11px;
}
.navbar .navbar-brand:before {
    content: "beta";
    position: absolute;
    font-size: 9px;
    margin-top: 17px;
    margin-left: -16px;
}
.navbar .navbar-brand span {
    padding-left: 10px;
}

@media (min-width: 768px) {

    .navbar .navbar-brand:before {
        margin-left: 21px;
    }

    .navbar .navbar-brand span {
        display: none;
    }

    .navbar .navbar-brand img {
        left: 9px;
    }
}
@media (max-width: 285px) { /* velikost navbaru se zobrazenym spanem */
    .navbar .navbar-brand span {
        display: none;
    }
}

.navbar {
    z-index: 1000;
}
/*
.nav-collapse .dropdown-menu li.active a {
    color: #fff;
}
.nav-collapse .dropdown-menu li.active li a {
    color: #000;
}
.nav-collapse .dropdown-menu li.active li.active a {
    color: #fff;
}
*/



#map {
    position:fixed;
    height:100%;
    width:100%;
    z-index: 1;
}



#main .container {
    position:relative;
    z-index: 5;
    padding: 1em;
    background: rgba(255,255,255,0.9);
    padding-top: 50px;
    margin-bottom: 260px;
}

#main .container.splash {
    background: transparent;
    padding: .5em;
    padding-top: 100px;
    display: none;

    background: url(../img/info-layer-switch.mini.svg) no-repeat right 63px;
}

.content-box-left, .content-box-right {
    padding:0;
}
.content-box-inner {
    background: rgba(255,255,255,0.9);
    padding: 15px;
}
@media screen and (min-width: 992px) {
    .content-box-left {
        padding-right: 15px;
    }
    .content-box-right {
        padding-left: 15px;

    }
    #main .container.splash {
        background: url(../img/info-layer-switch.svg) no-repeat right 90px;

    }

}






/* Primárně pro účely splashe */
#main .jumbotron {
    border-radius: 0;
    text-align: center;
    margin-bottom: 0;
}
#main .jumbotron.transparent { /* jinde než splash */
    background: transparent;
}
#main .jumbotron .close-overlay {
    font-size: 30px;
}

#main .jumbotron h1 img.osmlogo {
    width: 50px;
    height: 50px;
}
@media screen and (min-width: 768px) {
    #main .jumbotron {
        margin-top: 30px;
    }
    #main .bottom-spacer {
        margin-bottom: 30px;
    }
    #main .jumbotron h1 img.osmlogo {
        width: 110px;
        height: 110px;
    }
}


.twitter-follow {
    float: right;
    padding-right: 0;
    font-size: 10px;
}
.twitter-follow:before {
    content: "";
    background: url('../img/twitter.svg') no-repeat left top;
    background-size: 16px 16px;
    width: 16px;
    height: 16px;
    display: inline-block;
    vertical-align: bottom;
    margin-right: 1ex;
}

.tweets {
    list-style-type: none;
    margin:0;
    padding: 0;
}
.tweets li {
    padding: 8px 0 8px 60px;
}
.tweets .permalink {
    float: right;
    font-size: 80%;
    color: rgb(112, 112, 112);
    text-decoration: none;
    line-height: 20px;
}
.tweets .author img {
    position: absolute;
    margin-left: -60px;
}
.tweets .retweet {
    color: #707070;
    font-size: 80%;
    padding: 3px 0 0 3px;
}
.tweets .profile {
    color: rgb(41, 47, 51);
    font-weight: bold;
}
.tweets .profile .nickname {
    color: rgb(102, 117, 127);
    font-weight: normal;
    font-size: 80%;
}
.tweets .footer {
    text-align:right;
    visibility: hidden;
}
.tweets li:hover .footer {visibility: visible;}
.tweets .footer a {
    font-size: 80%;
    padding-left: 5px;
    color: rgb(153, 153, 153);
    text-decoration: none;
}



/*3 úroveň menu*/
#main .nav.nav-tabs {
    padding-top: 1em;
}
#main .nav.nav-tabs a {
    color: #444;
}


