
<h2>Aktuality <a href="https://twitter.com/intent/follow?screen_name=osmcz"
                 class="btn btn-link twitter-follow">Sledovat @osmcz</a></h2>
{$presenter[TwitterPlugin]->write('weekly', 1)}
{$presenter[TwitterPlugin]->write('twitter', 2)}
