
<h2>Aktuality <a href="https://mastodon.social/@osmcz/"
                 class="btn btn-link mastodon-follow">Sledovat @osmcz</a></h2>
{$presenter[MastodonPlugin]->write('weekly', 1)}
{$presenter[MastodonPlugin]->write('mastodon', 2)}
